<% 
/* ****************************************************************************
File:			index.html.ejs

Purpose:		I display the landing page of the application. If there are
				live games i will display a list of them.

Author: 		John Allen (Fig Leaf Software) jallen@figleaf.com
**************************************************************************** */
var games = currentGameArray;
%>

<div style="padding:.2em;">
	<% if(currentGameArray.length){%>
		<h3>Live Games</h3>
		<table>
		<% for (var i = 0; i < games.length; i++) { %>
			<tr>
				<td><%= games[i].homeTeam.teamShort %></td>
				<td>
					<a href="<%- urlFor({
								controller: 'soccer', 
								action: 'game',
								IDGame : games[i].IDGame,
								relPath: true,
								language: params.language
					}) %>">
						<%= games[i].homeTeam.score %> &ndash; <%= games[i].awayTeam.score %>
					</a>
				</td>
				<td><%= games[i].awayTeam.teamShort %></td>
			</tr>
		<% } %>
		</table>
	<%	} %>
	<p>
		<%- linkTo('Schedule', {controller: 'soccer', action: 'schedule'}) %>
	</p>
	<p>
		<%- linkTo('Squads', {controller: 'soccer', action: 'squads'}) %>
	</p>
</div>

