<%
/* ****************************************************************************
File:			schedule.html.ejs

Purpose:		I display the schedule.

Author: 		Johh Allen (Fig Leaf Software) jallen@figleaf.com
**************************************************************************** */
// make an alias
var rb = getRB(params.language);
var nextGame = false;
var hasScore = true;
%>
<script>
$( document ).ready(function() {

    function scrollTo(hash) {
        location.hash = "#" + hash;
    }

    scrollTo('nextGameAnchor');
});
</script>
<div class="scheduleContainer">
<table class='schedule'>
<thead>
	<tr>
		
		<th id="group">
			<span class='full'><%= rb.get('group') %></span>
			<span class="abbr">G</span>
		</th>
		
		<!-- <th id='match'>Match</th> -->
		<th id="date">
			<span class='full'><%= rb.get('dateTime') %> (GMT)</span>
			<span class="abbr"><%= rb.get('date') %> (GMT)</span>
		</th>
		<th id='venue'><%= rb.get('venue') %></th>
		<th id='teamA' colspan='2'><%= rb.get('team') %></th>
		<th id='results'><%= rb.get('results') %></th>
		<th id='teamB' colspan='2'><%= rb.get('team') %></th>
	</tr>
</thead>
<tbody>
	<% for (var i = 0; i < schedule.length; i++) { %>
    <%
        // need and anchor tag to scroll to.
        hasScore = true;
        if(
            schedule[i].awayTeam.score.length === 0
            &&
            schedule[i].homeTeam.score.length === 0
        ){
            hasScore = false;
        }
    %>
	<tr>
		<td></td>
		<td>
			<%= moment(schedule[i].date).format('DD/MM')%>  - 
			<%= moment(schedule[i].date).format('hh:mm') %>
		</td>
		<td>
			<%= schedule[i].city %> <%= schedule[i].venue %>
		</td>
		<td>
			<div class="flag <%= schedule[i].awayTeam.abbreviation.toLowerCase()%>" />
		</td>
		<td>
			<a href="<%- urlFor({
					controller: 'soccer', 
					action: 'squad',
					IDTeam : schedule[i].awayTeam.ID,
					relPath: true,
					language: params.language
				}) %>">
				<%= schedule[i].awayTeam.abbreviation %>
			</a>

            <%
                // need and anchor tag to scroll to.
                if(
                        schedule[i].awayTeam.score.length === 0
                        &&
                        schedule[i].homeTeam.score.length === 0
                        &&
                        nextGame === false
                ){
                    nextGame = true;
            %>
                <a name="nextGameAnchor" id="nextGameAnchor"></a>
            <% }%>
		</td>
		<td>
            <% if(hasScore){ %>
                <a href="<%- urlFor({
                        controller: 'soccer',
                        action: 'game',
                        IDGame : schedule[i].IDMatch,
                        relPath: true,
                        language: params.language
                    }) %>">
                    <%= schedule[i].awayTeam.score %> - <%= schedule[i].homeTeam.score %>
                </a>
            <% }else {%>
                -
            <% } %>
		</td>
		<td>
			<a href="<%- urlFor({
					controller: 'soccer', 
					action: 'squad',
					IDTeam : schedule[i].homeTeam.ID,
					relPath: true,
					language: params.language
				}) %>">
				<%= schedule[i].homeTeam.abbreviation %>
			</a>
		</td>
		<td>
			<div class="flag <%= schedule[i].homeTeam.abbreviation.toLowerCase()%>" />
		</td>
	</tr>
	<% } %>
</tbody>
</table>
</div>