<%
/* ****************************************************************************
File:			squad.html.ejs

Purpose:		I display the squad view.

Author: 		Johh Allen (Fig Leaf Software) jallen@figleaf.com
**************************************************************************** */

var rb = getRB(params.language);

%><div class='testRoster2'>
<h2 class='flag large <%= squad.teamMetadata.abbreviation.toLowerCase() %>'>
	<%= squad.team.name %>
	<%= rb.get(squad.team.name.toLowerCase()) %>
</h2>
<% if(squad.team.nickName.length){ /* do we have a nickname to display? */ %>
	<h3>'<%= squad.team.nickName %>'</h3>
<% } %>

<!-- totals -->
<table class='tableToSVG bigNumbers'>
	<tr>
		<th><%= rb.get('wins') %></th>
		<th><%= rb.get('losses') %></th>
		<th><%= rb.get('draws') %></th>
		<th><%= rb.get('points') %></th>
	</tr>
	<tr>
		<td><%= /*player.individualGameStat.length*/ %>XX</td>
		<td><%= /*player.totalStat.goals*/ %>YY</td>
		<td><%= /*player.totalStat.goal_assist*/ %>ZZ</td>
		<td><%= /*player.totalStat.total_scoring_att*/ %>XX</td>
	</tr>
</table>


<table class='tableToSVG roster2'>
	<thead>
		<tr>
			<th></th>
			<th><%= rb.get('name') %></th>
			<th><%= rb.get('age') %></th>
			<th>
				<span class='full'><%= rb.get('position') %></span>
				<span class='abbr'><%= rb.get('positionAbbr') %></span>
			</th>
			<!--
			<th>
				<span class='full'><%= rb['goals']%></span>
				<span class='abbr'>G</span>
			</th>
			-->
		</tr>
	</thead>
	<% 
		// alias the player array
		playerArray = squad.team.player;
		// default this var to the top value
		currentPosition = playerArray[0]['position'];

		for (var i = 0; i < playerArray.length; i++) {
	%>
		<% if ( currentPosition === playerArray[i]['position'] ){ /* hasnt changed */ %> 
		<tr>
		<% } else { currentPosition = playerArray[i]['position']; /* changed so reset */ %>
		<tr class="newGroup">
		<% } %>
			<td>&nbsp;</td>
			
			<td>
				<a href="<%- urlFor({
						controller: 'soccer', 
						action: 'player',
						IDPlayer : playerArray[i]['id'],
						relPath: true,
						language: params.language
					}) %>">
					<%= playerArray[i]['name'] %>
				</a>
			</td>

			<td>
				<%= getYearDifference(playerArray[i]['dob']) %>
			</td>
			
			<td>
				<span class="full">
					<%= rb.get(playerArray[i]['position'].toLowerCase()) %>
				</span>
				<span class="abbr">
					<%= getPlayerPositionAbbreviated(playerArray[i]['position'], rb) %>
				</span>
			</td>
		</tr>
	<% } %>
</table>
</div>